<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>vision.AI</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="icon" href="../static/images/eye-solid.svg">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/sheryjs/dist/Shery.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="header">
        <a href="{{url_for('dashboard')}}" class="logo"><i class="fa-solid fa-eye"></i> vision.AI</a>
    </header>
    <h1 class="heading" style="margin-bottom: -10rem; margin-top: 8rem;"> Text to Image</h1>
    <h1 class="heading" style="margin-bottom: -10rem; margin-top: 8rem; font-size: 1.5rem;"><span>Requirement: </span>
        <h1 class="heading" style="margin-bottom: -10rem; margin-top: 8rem; font-size: 2.0rem;">A required prompt text
            field describing the desired image, with a max length of a 1000 characters.</h1>
        <section class="book" id="book">

            <div class="glass-row" style="margin-top:100px;">

                <form action="/text_to_image" method="POST">

                    <div>
                        <label for="prompt" style="color: white; font-size: 1.2rem;">Enter Text Prompt:</label>
                        <input type="text" name="prompt" id="prompt" class="box" required>
                    </div><br>
                    <button class="btn custom-upload-btn" type="submit">Generate Image</button>
                </form>
                <p style="color: white; font-size: 1.3rem; margin-top: 2rem;">By continuing, you agree to vision.AI's
                    Terms of Service</a> Opens a new tab and
                    acknowledge you've read our Privacy
                    Policy. Notice at collection.
                </p>


            </div>
            {% if text_image_filename %}
            <h1 class="heading">Generated Image</h1>
            <center>
                <img src="{{ url_for('static', filename=text_image_filename) }}" alt="Text Image">
            </center>

            {% endif %}
        </section>

</body>

</html>